<div
   *ngIf="customers$ | async as listCustomers; else fetchDataErrorOrLoading"
   class="container max-w-7xl mx-auto mt-8 p-5"
>
   <div class="mb-4">
      <h1 class="text-3xl font-bold decoration-gray-400">Customers</h1>
      <div class="container flex mx-auto pt-3">
         <div class="flex border-2 rounded">
            <button class="flex items-center justify-center px-4 border-r">
               <svg
                  class="w-6 h-6 text-gray-600"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
               >
                  <path
                     d="M16.32 14.9l5.39 5.4a1 1 0 0 1-1.42 1.4l-5.38-5.38a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"
                  ></path>
               </svg>
            </button>
            <input type="text" class="px-4 py-2 w-80" placeholder="Search..." [(ngModel)]="filteredValue" />
         </div>
      </div>
      <div class="flex justify-end">
         <button class="px-4 py-2 rounded-md bg-sky-500 text-sky-100 hover:bg-sky-600">Add Customer</button>
      </div>
   </div>
   <div class="flex flex-col">
      <div class="overflow-x-auto sm:-mx-6 sm:px-6 lg:-mx-8 lg:px-8">
         <div
            class="inline-block min-w-full overflow-hidden align-middle border-b border-gray-200 shadow sm:rounded-lg"
         >
            <table class="min-w-full">
               <thead>
                  <tr>
                     <th
                        class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                     >
                        ID
                     </th>
                     <th
                        class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                     >
                        Name
                     </th>
                     <th
                        class="px-6 py-3 text-xs font-medium leading-4 tracking-wider text-left text-gray-500 uppercase border-b border-gray-200 bg-gray-50"
                     >
                        Email
                     </th>
                     <th
                        class="px-6 py-3 text-sm text-left text-gray-500 border-b border-gray-200 bg-gray-50"
                        colspan="3"
                     >
                        Action
                     </th>
                  </tr>
               </thead>

               <tbody *ngFor="let customer of listCustomers | searchFilter : filteredValue" class="bg-white">
                  <tr>
                     <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                        <div class="flex items-center">{{ customer.id }}</div>
                     </td>

                     <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                        <div class="text-sm leading-5 text-gray-900">{{ customer.name }}</div>
                     </td>

                     <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                        <p>{{ customer.email }}</p>
                     </td>
                     <td
                        class="text-sm font-medium leading-5 text-center whitespace-no-wrap border-b border-gray-200"
                     >
                        <a href="#" class="text-indigo-600 hover:text-indigo-900">
                           <pencil-square-outline-icon />
                        </a>
                     </td>

                     <td
                        class="text-sm font-medium leading-5 text-center whitespace-no-wrap border-b border-gray-200"
                     >
                        <a href="#" class="text-gray-600 hover:text-gray-900">
                           <trash-outline-icon />
                        </a>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>
<ng-template #fetchDataErrorOrLoading>
   <ng-container *ngIf="errors$ | async as error; else loading">
      {{ error }}
   </ng-container>
   <ng-template #loading>
      <p>Loading ..</p>
   </ng-template>
</ng-template>
